<%- layout("boilerplate/boilerplate_LoginPage") %>
        <div class="box" style="height: 440px;">
            <div class="text mb-5 mt-3">
                <h1 class="mb-3">Thanks For Joining Chipping</h1>
                <p>We're thrilled to have you with us! 🎉 You'll receive an email shortly with a special code to help you get started. Keep an eye on your inbox — exciting things are coming your way!</p>
            </div>
            <div class="code mt-0">
            <form method="post" class="individual needs-validation" id="Code_input" action="/auth/verify">
                <input type="text" placeholder="Enter 6 Digit Code" class="input_code form-control mb-3" name="i_code" required>
                <% if(wrong_flag === true){ %>
                    <p style="color: red;">Invalid Code. Try again.</p>
                <% } %>
                <button class="btn btn-outline-danger mt-4">Click to Continue</button>
            </form>
        </div>
        </div>
    

