<%- layout("boilerplate/boilerplate_LoginPage") %>
        <div class="outer">
            <% if(next_flag === true) { %>
                <div class="text">
                    <h2 class="mb-3">New Password Created Successfully ✅</h2>
                    <p>Your password has been updated! Click the "Continue" button below to be redirected to the login page. Please log in again using your new password. </p>
                </div>
                <div class="continue">
                    <form action="/login" class="success">
                        <button type="submit" class="btn btn-outline-danger">Continue</button>
                    </form>
                </div>
            <% } else { %>
                <div class="text">
                    <h1 class="mb-3">Create a New Password</h1>
                    <p class="mb-3">You're almost there! Just set a new password below to secure your account and get back in. Make sure it's something strong and memorable. </p>
                </div>
                <div class="code" style="height: 250px;">
                    <form method="post" class="new_pass needs-validation" style="height: 250px;" novalidate>
                        <div class="input">
                            <input type="text" placeholder="Enter New Password" class="input_code mb-2 form-control" name="new_pass" required>
                            <input type="text" placeholder="Confirm Password" class="input_code mb-2 form-control" name="confirm_pass" required>
                            <% if(wrongp_flag === true) {%>
                                <p style="color: red;">New password and confirm password do not match. Please try again.</p>
                            <% } %>
                        </div>
                        <div class="button_continue">
                            <button class="btn btn-outline-danger">Click to Continue</button>
                        </div>
                    
                    </form>
                </div>

            <% } %>  
        </div>
