<%- layout("boilerplate/boilerplate_LoginPage") %>
        <div class="box">
            <div class="text">
                <h1>Find Your Chipping Account</h1>
                <p>Enter the username associated with your account to change your password.</p>
            </div>
            <div class="form_class">
                <form method="post" action="" class="needs-validation" novalidate>
                    <input type="text" placeholder="Enter Username" id="forgot" name="username" class="form-control" required >
                        <button class="btn btn-outline-danger mb-5" >Reset Password</button>
                </form>
            </div>
        </div>