<%- layout("./boilerplate/boilerplate_LoginPage") %>
        <div class="loginBox">
            <div class="create_account">
                <div class="greeting">
                    <h1 class="new_here ms-3">New Here?</h1>
                    <p>Sign up and discover a great amount of new opportunities!</p>
                    <form method="get" action="/auth/create">
                        <button class="create_btn">Sign Up</button>
                    </form>
                </div>
            </div>
            <div class="login">
                <div class="inside_box">
                    <h3 style="text-align: center; margin-bottom: 50px; font-weight: 600;" class="font-monospace">Log into your account</h3>
                <div class="form_inside">
                    <form method="post" action="" class="needs-validation" novalidate>
                        <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                        <input type="password" placeholder="Enter Password" name="password" class="form-control" required>
                        <div class="buttons">
                            <a href="/forgot" style="color: red;">Forgot Password?</a>
                            <br><br>
                            <button class="login_btn btn-danger">Submit</button>
                            <a href="/auth/guest" class="login_btn btn-danger" style="text-decoration: none; display: inline-block; text-align: center;">Log in as Guest</a>
                        </div>
                        <hr>
                        <div class="class">
                        </div>
                    </form>
                </div>
                <div class="greeting_inside">
                    <a href="/auth/create">Create a new account</a>
                </div>
                </div>
            </div>
        </div>

