<%- layout("/boilerplate/boilerplate_HomePage") %>
        <div class="content">
           <div class="heading">
                <h1 class="mt-5 mb-3">Welcome Back <%= userEntered%></h1>
           </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>