.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.content {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.summary{
    margin-top: 50px;
    width: 80%;
    height: 300px;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    background: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0,);
    
}
.header{
    height: 50px;
    text-align: center;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-body{
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.show-expenses{
    width: 80%;
    height: auto;
    margin-top: 30px;
    background: rgba(17, 17, 17, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0,);
    border-radius: 16px;
}
.title{
    height: 70px;
    
}
.btn-delete{
    position: relative;
    top: -7px;
}
.modal-content {
    background-color: #000; /* or any desired color */
    border: none;
    box-shadow: none;
}

.table-dark tbody tr:hover{
    opacity: 0.6;
}
@media (max-width: 771px){
    .summary{
        height: 500px
    }
    .card{
        margin-bottom: 20px;
    }
    
}
@media (max-width: 500px){
    .show-expenses{
        width: 90%;
    }
    .summary{
        width: 90%;
    }
}